<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta http-equiv="refresh" content="6" />
  <title>Get Control!</title>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Firewall</h1>
    <p>At {{time}}</p>
    
  </div>
    <div class="container">
		<div class="row-6white!curunir23
		">
			<div class="col-4">
          <button
            class="btn btn-primary btn-lg btn-block"
            type="submit"
            formaction="/"
            autofocus="autofocus"
          >
            Block
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-secondary btn-lg btn-block"
            type="reset"
            formaction="/"
          >
            RELOAD
          </button>
        </div>
      </div>
    </div>
  
</body>
